*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    text-align: center;
}
h1#pai,button, img {
    box-shadow: 15px 13px 25px;
}
body{
    background-color: black;
    color: white;
}
main{
    background-attachment: fixed;
}
picture img{
    display: inline-block;
    max-width: 200px;
    border-radius: 200px;
    margin: auto;
    margin-bottom: 25px;
}
picture#PERFIL img{
    margin: 25px;
}
picture#links img{
    width: 50px;
    margin: auto;
}
picture#logoPK img{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
button{
    border-radius: 360px;
    width: 80px;
}
button picture img{
    width: 50px;
    margin: 5px;
}
section{
    background-color: rgba(163, 153, 133, 0.411);
    border-radius: 20px;
    margin: 25px;
    padding: 25px;
}
section#forMain{
    background-image: url("fdMain.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
article#primeiro{
    font-size: xx-large;
    font-family: cursive;
    width: 100%;
}
aside{
    margin: 15px;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}
.projetos{
    justify-content: space-around;
    align-items: center;
}
.projetos0{
    display: contents;
        width: 100%;
        margin: auto;
}
article {
    justify-content: space-around;
    align-items: center;
}
h1 {
    display: block;
    border-radius: 25px;
    margin-bottom: 25px;
}
h2{
    display: block;
    border-radius: 360px;
    margin-bottom: 25px;
}
p{
    background-color: rgba(0, 0, 0, 0.911);
}
footer{
    background-color: darkgoldenrod;
    padding: 10px;
}
footer a {
color: white;
}