* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: x-large;
}
.interface{
    padding: 15px;
}
header {
    position: relative;
    color: white;
}

a {
    text-decoration: none;
}

button {
    margin: auto;
    padding: 5px;
    border-radius: 25px;
    text-decoration: none;
    margin: 15px;
}

section {
    margin: 25px;
    background-color: #230D73;
    box-shadow: #230D73 10px 10px 50px 10px;
    color: white;
    border-radius: 15px;
    padding: 15px;
}
section li{
    list-style: none;
}

aside {
    background-color: rgba(0, 0, 0, 0.863);
    margin-top: 25px;
}

footer>p {
    text-align: center;
    padding: 10px;
    padding-bottom: 80px;
}

#digital img {
    max-width: 90px;
}

picture#br img {
    display: block;
    width: 125px;
}

picture#grafico img {
    display: block;
    max-width: 125px;
}

footer img {
    max-width: 45px;
}

img {
    margin: auto;
}

picture#moon img {
    display: block;
    margin: auto;
}

button {
    color: black;
}

picture#redesSociais {
    margin: auto;
    text-align: center;
    justify-content: center;
}

picture#redesSociais img {
    display: inline-block;
    max-width: 45px;
}

picture#verificado img {
    max-width: 35px;
}

h1 {
    text-align: center;
    color: #230D73;
    margin: 15px;
}

picture#dinheiro img {
    max-width: 35px;
}

nav {
    width: 100%;
    box-shadow: #230D73 10px 10px 50px 10px;

}

nav ul {
    display: flex;
    background-color: #230D73;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    display: block;
    margin: auto;
    padding: 2px;
    list-style: none;
    font-size: medium;
    justify-content: space-between;
}

nav ul li a {
    color: white;
}

picture#miniLogoProjetos img {
    border-radius: 15px;
    max-width: 45px;
}

picture#InformationTechnology img {
    width: 100%;
}

.flex {
    display: flex;
}

picture#predio img {
    display: block;
    width: 100%;
}

video {
    display: block;
    width: 100%;
    margin: auto;
    top: 20;
}

.video {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #230D73;
}
#btnWhatsapp {
    position: fixed;
    top: 89vh;    
}
#btnWhatsapp img {
    display: block;
    margin: auto;
    max-width: 400px;
}
#apps{
    width: 100%;
}
#apps img {
    display: block;
    margin: auto;
    width: 100%;
}
ul#cursos video{
    max-width: 285px;
    border-radius: 15px;
    box-shadow: #230D73 10px 10px 50px 10px;
}
ul#cursos {
    margin-top: 50px;
    padding: 15px;
    columns: 2;
}
ul#cursos li{
    margin: 10px;
    border-radius: 15px;
    border: 1px solid gray;
    list-style: none;
    font-size: medium;
    padding: 10px;
    background-color: #230D73;
    color: white;
}