* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
}
h2{
    font-size: 1rem;
}
h1, h2, p, li{
    color: #230D73;
}
a {
    border-radius: 15px;
    margin: 15px;
    padding: 5px;
}
#sobre p, li{
    color: #230D73;
}
#validarCertificado h1, p, li{
    color: #230D73;
}
#formularioInscricao h1, h2, p, li{
    color: #230D73;
}
#sectionHallDaFama h1, h2, p, li{
    color: white;
}
.interface {
    padding: 5px;
    padding-top: 30vh;
    background-color: white;
}

header {
    display: block;
    background-color: black;
    color: white;
}

header nav ul li {
    flex-wrap: wrap;
    margin: 10px;
}

body {
    background-color: black;
    margin: auto;
}

a {
    text-decoration: none;
}

button {
    margin: auto;
    padding: 5px;
    margin-bottom: 50px;
    color: white;
    border-radius: 15px;
    text-align: end;
    text-decoration: none;
}


section {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

section li,
p {
    margin: 25px;
    list-style: none;
}


aside {
    background-color: rgba(0, 0, 0, 0.863);
    margin-top: 25px;
}

footer>p {
    text-align: center;
    padding: 10px;
    padding-bottom: 80px;
}

#digital img {
    max-width: 90px;
}

picture#br img {
    display: block;
    width: 125px;
}

picture#grafico img {
    display: block;
    max-width: 125px;
}

footer img {
    max-width: 45px;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 0;
}

picture#moon img {
    display: block;
    margin: auto;
}

button {
    color: black;
}

picture#redesSociais {
    margin: auto;
    text-align: center;
    justify-content: center;
}

picture#redesSociais img {
    display: inline-block;
    max-width: 45px;
}

picture#verificado img {
    max-width: 35px;
}



picture#dinheiro img {
    max-width: 35px;
}

nav {
    display: flex;
    position: fixed;
    background-color: black;
    width: 100%;
    box-shadow: #230D73 10px 10px 50px 10px;
}
.minhaDivNavApareceESomeLogoPK{
    display: block;
    width: 20vh;
}
@media (max-width: 500px) {
    .lista li {
        flex: 1 0 50%;
    }

    nav {
        display: block;
    }

    .minhaDivNavApareceESome {
        display: none;
    }
.minhaDivNavApareceESomeLogoPK{
    display: none;
}
    img#menu {
        max-width: 35px;
        margin: auto;
        justify-content: center;
    }
}
 img#menu {
    display: block;
    max-width: 50px;
}
@media (min-width: 500px) {
    nav img#menu {
        display: none;
    }
}

nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    display: inline-block;
    margin: auto;
    padding: 2px;
    list-style: none;
    font-size: small;
    justify-content: space-between;
}

nav ul li a {
    color: white;
}

nav picture img {
    display: block;
    max-width: 285px;
}

picture#miniLogoProjetos img {
    border-radius: 15px;
    max-width: 45px;
}

picture#InformationTechnology img {
    width: 100%;
}

.flex {
    display: flex;
}

picture#predio img {
    display: block;
    width: 100%;
}

video {
    display: block;
    width: 100%;
    margin: auto;
}

section.finalizar video {
    margin-left: 15px;
    max-width: 385px;
}

.video {
    display: block;
    width: 100%;
    height: 100vh;
}

#btnWhatsapp {
    position: fixed;
    top: 89vh;
}

#btnWhatsapp img {
    display: block;
    margin: auto;
    max-width: 400px;
}
#apps{
    padding: 15px;
}

#apps img {
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 202px;
}

#apps ul li {
    display: inline-block;
}

img {
    border-radius: 15px;
}

#cursos video {
    padding-top: 0;
    border-radius: 25px;
}

section#cursos video {
    display: inline-block;
    max-width: 285px;
}

ul#cursos video {
    max-width: 285px;
}

ul#cursos {
    margin-top: 50px;
    padding: 15px;
}


ul#cursos a {
    margin: 10px;
    list-style: none;
    font-size: medium;
    color: #230D73;
}

.finalizar {
    margin: 10vh auto;
    padding: 15px;
    background-color: white;
    color: #230D73;
    box-shadow: none;
}

.finalizar img {
    display: block;
    margin: auto;
    width: 100%;
}

.finalizar ul {
    columns: 2;
}

ul#opcaoespagamento a {
    justify-content: space-around;
    margin: 15px;
}

img#logoPK{
    display: block;
    width: 45px;
}
.logoPK {
    padding: 15px;
    align-items: center;
    float: left;
    margin-top: -50px;
}

ul {
    list-style: none;
    text-align: center;
    color: white;
    border-radius: 25px;
    margin: 15px;
    padding: 10px;
}

#sobre ul {
    display: flexbox;
    background-color: white;
    box-shadow: 0px 0px 0px;
    border-radius: 1px solid gray;
    }
   
.lista {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista a {
    background-color: white;
    color: #230D73;
}

.lista li {
    flex: 1 0 1;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}



section#formularioInscricao {
    text-align: center;
}

section#formularioInscricao li {
    list-style: none;
}

.formularioInscricao,
li,
h2 {
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    text-align: justify;
}

.ranking {
    text-align: center;
}

.ranking article a {
    display: block;
    text-align: center;
    color: #230D73;
    margin: 20px;
    border: 3px solid;
    border-radius: 15px;
}

form ul input {
    margin: auto;
    padding: 0;
    font-size: small;
    width: 58%;
}

input {
    font-size: xx-small;
}
.validarCertificado{
    text-align: center;
    align-items: center;
}
.validarCertificado h1, h2{
    text-align: justify;
}
.validarCertificado form input li {
    max-width: 285px;
}

.logo {
    justify-content: center;
    align-items: center;
    max-width: 295px;
}
#produtosPng{
    display: block;
    margin: auto;
    width: 85px;
}
.box{
    text-align: justify;
}
/* Estilo padrão para o vídeo */
#video-topLogoPK video {
    width: 100%; /* Ocupa toda a largura do container */
    height: auto; /* Mantém a proporção do vídeo */
  }
  
  /* Esconde o vídeo em telas maiores que 500px */
  @media (min-width: 500px) {
    #video-topLogoPK video {
      display: none;
    }
  }
  
  /* Mostra o vídeo em telas menores que 500px */
  @media (max-width: 499px) {
    #video-topLogoPK video {
      display: block;
    }
  }
  .container{
    display: flex; /* Transforma o body em um container flex */
    justify-content: center; /* Alinha os itens no centro horizontalmente */
    align-items: center; /* Alinha os itens no centro verticalmente   
*/
    height: 100vh; /* Define a altura do body como 100% da viewport */
    margin: 0;
  }
  .ulMenu a{
    color: white;
  }
  .produtosPng{
  margin: auto;  
  margin-bottom: 50px;
  }

#ulHallDaFama li{
    text-align: center;
}