* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    border-radius: 15px;
    margin: 15px;
    padding: 5px;
}

.interface {
    margin-top: 20vh;
}

header {
    position: relative;
    background-color: #230D73;
    color: white;
    justify-content: space-around;
}

header nav ul li {
    flex-wrap: wrap;
    margin: 10px;
}

body {
    margin: auto;
}

a {
    text-decoration: none;
}

button {
    margin: auto;
    padding: 5px;
    margin-bottom: 50px;
    /* background-color: #230d736b; */
    color: white;
    border-radius: 15px;
    text-align: end;
    text-decoration: none;
}


section {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

section li,
p {
    margin: 25px;
    list-style: none;
}


aside {
    background-color: rgba(0, 0, 0, 0.863);
    margin-top: 25px;
}

footer>p {
    text-align: center;
    padding: 10px;
    padding-bottom: 80px;
}

#digital img {
    max-width: 90px;
}

picture#br img {
    display: block;
    width: 125px;
}

picture#grafico img {
    display: block;
    max-width: 125px;
}

footer img {
    max-width: 45px;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 0;
}

picture#moon img {
    display: block;
    margin: auto;
}

button {
    color: black;
}

picture#redesSociais {
    margin: auto;
    text-align: center;
    justify-content: center;
}

picture#redesSociais img {
    display: inline-block;
    max-width: 45px;
}

picture#verificado img {
    max-width: 35px;
}

h1 {
    color: #230D73;
}

picture#dinheiro img {
    max-width: 35px;
}

nav {
    display: flex;
    width: 100%;
    box-shadow: #230D73 10px 10px 50px 10px;
}

@media (max-width: 500px) {
    .lista li {
        flex: 1 0 50%;
    }

    nav {
        display: block;
    }

    .minhaDivNavApareceESome {
        display: none;
    }

    img#menu {
        display: block;
        max-width: 35px;
        float: left;
        margin: auto;
    }
}

@media (min-width: 500px) {
    nav img#menu {
        display: none;
    }
}

nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #230D73;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    display: inline-block;
    margin: auto;
    padding: 2px;
    list-style: none;
    font-size: small;
    justify-content: space-between;
}

nav ul li a {
    color: white;
}

nav picture img {
    display: block;
    max-width: 285px;
}

picture#miniLogoProjetos img {
    border-radius: 15px;
    max-width: 45px;
}

picture#InformationTechnology img {
    width: 100%;
}

.flex {
    display: flex;
}

picture#predio img {
    display: block;
    width: 100%;
}

video {
    display: block;
    width: 100%;
    margin: auto;
}

section.finalizar video {
    margin-left: 15px;
    max-width: 385px;
}

.video {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #230D73;
}

#btnWhatsapp {
    position: fixed;
    top: 89vh;
}

#btnWhatsapp img {
    display: block;
    margin: auto;
    max-width: 400px;
}

#apps img {
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 202px;
}

section#apps ul li {
    display: inline-block;
}

img {
    border-radius: 15px;
}

.interface #loocursos {
    padding: 15px;
}

#cursos video {
    padding-top: 0;
}

section#cursos video {
    display: inline-block;
    max-width: 285px;
}

ul#cursos video {
    max-width: 285px;
    box-shadow: #230D73 10px 10px 50px 10px;
}

ul#cursos {
    margin-top: 50px;
    padding: 15px;
    columns: 2;
}


ul#cursos a {
    margin: 10px;
    border: solid 1px #230D73;
    border-radius: 15px;
    border: 1px solid gray;
    list-style: none;
    font-size: medium;
    background-color: #230d739c;
    color: white;
}

.finalizar {
    max-width: 900px;
    margin: 10vh auto;
    padding: 15px;
    background-color: white;
    color: #230D73;
    box-shadow: none;
}

.finalizar img {
    display: block;
    margin: auto;
    width: 100%;
}

.finalizar ul {
    columns: 2;
}

ul#opcaoespagamento a {
    justify-content: space-around;
    margin: 15px;
}

#logoPK img {
    display: block;
    margin: auto;
    max-width: 95px;
    border-radius: 0px;
}

.logoPK {
    padding: 15px;
    align-items: center;
}

ul {
    list-style: none;
    text-align: center;
    background-color: #230D73;
    box-shadow: #230D73 10px 10px 50px 10px;
    color: white;
    border-radius: 25px;
    margin: 15px;
    padding: 10px;
}

.interface h2 {
    margin-top: 70px;
}

#sobre ul li {
    border-radius: 1px solid gray;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista a {
    background-color: white;
    color: #230D73;
}

.lista li {
    flex: 1 0 1;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}



section#formularioInscricao {
    text-align: center;
}

section#formularioInscricao li {
    list-style: none;
}

.formularioInscricao,
li,
h2 {
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    text-align: justify;
}

.ranking {
    text-align: center;
}

.ranking article a {
    display: block;
    text-align: center;
    color: #230D73;
    margin: 20px;
    border: 3px solid;
    border-radius: 15px;
}

form ul input {
    margin: auto;
    padding: 0;
    font-size: small;
    width: 58%;
}

input {
    font-size: xx-small;
}

.validarCertificado form input li {
    max-width: 285px;
}

.ulMenu ul,
li,
a {
    background-color: #230D73;
    color: white;
}

.logo {
    justify-content: center;
    align-items: center;
    width: 80%;
}