<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="shortcut icon" href="../static/logoPK.png" type="image/x-icon" />
  <title>INFOPRODUTOS</title>
</head>

<body style="background-color: white;">
  <header>
    <div class="flex">
      <a id="logo" href="../templates/menu.html">
        <img id="menu" src="../static/menu.png">
      </a>
      <a style="margin: auto;" href="../index.html">
        <img src="../static/logoPK.png" class="minhaDivNavApareceESomeLogoPK">
      </a>
    </div>
  </header>
  <div class="interface">
      <h1 style="color: #230D73; ">
        INFOPRODUTOS: Cursos online para você aprender e creser!
      </h1>
      <img src="../static/fundo.png" id="fundo-png" alt="">
      <ul id="cursos" class="lista" style="columns: 4; background-color: white; box-shadow: 0 0 0 ;">
        <a href="IOT.html" target="_blank">
          <video src="../static/IOT - INTERNET DAS COISAS.mp4" loop muted autoplay>
          </video>
        </a>
        <a href="marcações.html" target="_blank">
          <video src="../static/MARCAÇÕES HTML E CSS.mp4" loop muted autoplay>
          </video>
        </a>
        <a href="python.html" target="_blank">
          <video src="../static/PROGRAMANDO EM PYTHON.mp4" loop muted autoplay>
          </video>
        </a>
        <a href="javascript.html" target="_blank">
          <video src="../static/PROGRAMANDO EM JAVA SCRIPT.mp4" loop muted autoplay>
          </video>
        </a>
      </ul>
 
  </div>
</body>

</html>