<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="shortcut icon" href="../static/logoPK.png" type="image/x-icon" />
  <title>INFOPRODUTOS</title>
</head>

<body>
  <header>
    <nav>
      <a href="menu.html">
        <picture>
          <img id="menu" src="../static/menu.png" alt="">
        </picture>
      </a>
      <a id="logoPK" href="../index.html">
        <img src="../static/logoPK.png" alt="">
      </a>
      <ul class="minhaDivNavApareceESome">
        <li>
          <a href="../templates/cursos.html">
            CURSOS
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/ti.udia/" target="_blank">
            BLOG
          </a>
        </li>
        <li>
          <a href="sobre.html">
            SOBRE
          </a>
        </li>
        <li>
          <a href="hall da fama.html">
            HALL DA FAMA
          </a>
        </li>
        <li>
          <a href="validar certificado.html">
            VALIDAR CERTIFICADO
          </a>
        </li>
        <li>
          <a href="../templates/formulario de inscrição.html">
            AFILIADOS
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="interface">
    <img style="float: right;" src="../static/fundo.png" alt="">
    <div id="loocursos">
      <h2>Infoprodutos: Cursos Online para Você Aprender e Crescer!</h2>
      <ul id="cursos" class="lista" style="columns: 4; background-color: white; box-shadow: 0 0 0 ;">
        <a href="IOT.html" target="_blank">
          IOT - INTERNET DAS COISAS
          <video src="../static/IOT - INTERNET DAS COISAS.mp4" loop muted autoplay>
          </video>
        </a>
        <a href="marcações.html" target="_blank">
          MARCAÇÕES HTML E CSS
          <video src="../static/MARCAÇÕES HTML E CSS.mp4" loop muted autoplay>
          </video>
        </a>
        <a href="python.html" target="_blank">
          PROGRAMANDO EM PYTHON
          <video src="../static/PROGRAMANDO EM PYTHON.mp4" loop muted autoplay>
          </video>
        </a>
        <a href="javascript.html" target="_blank">
          PROGRAMANDO EM JAVA SCRIPT
          <video src="../static/PROGRAMANDO EM JAVA SCRIPT.mp4" loop muted autoplay>
          </video>
        </a>
      </ul>
    </div>
  </div>
</body>

</html>