<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="shortcut icon" href="../static/logoPK.png" type="image/x-icon" />
  <title>INFOPRODUTOS</title>
</head>

<body>
  <header>
    <nav>
      <a id="logoPK" href="../index.html">
        <img src="../static/logoPK.png" alt="">
      </a>
      <ul>
        <li>
          <a href="cursos.html">
            CURSOS
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/ti.udia/" target="_blank">
            BLOG
          </a>
        </li>
        <li>
          <a href="sobre.html">
            SOBRE
          </a>
        </li>
        <li>
          <a href="hall da fama.html">
            HALL DA FAMA
          </a>
        </li>
        <li>
          <a href="validar certificado.html">
            VALIDAR CERTIFIDADO
          </a>
        </li>
        <li>
          <a href="formulario de inscrição.html">
            AFILIADOS
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="interface">
    <img style="float: right;" src="../static/fundo.png" alt="">
   <div id="loocursos">
    <h2>Infoprodutos: Cursos Online para Você Aprender e Crescer!</h2>
    <ul id="cursos" class="lista" style="columns: 4; background-color: white; box-shadow: 0 0 0 ;">
      <li>IOT - INTERNET DAS COISAS
        <a href="IOT.html" target="_blank">
          <video src="../static/IOT - INTERNET DAS COISAS.mp4" loop muted autoplay></video>
        </a>
      </li>
      <li>
        MARCAÇÕES HTML E CSS
        <a href="marcações.html" target="_blank"><video src="../static/MARCAÇÕES HTML E CSS.mp4" loop muted
            autoplay></video>
        </a>
      </li>
      <li>
        PROGRAMANDO EM PYTHON
        <a href="python.html" target="_blank"><video src="../static/PROGRAMANDO EM PYTHON.mp4" loop muted
            autoplay></video>
        </a>
      </li>
      <li>
        PROGRAMANDO EM JAVA SCRIPT
        <a href="javascript.html" target="_blank"><video src="../static/PROGRAMANDO EM JAVA SCRIPT.mp4" loop muted
            autoplay></video>
        </a>
      </li>
    </ul>
   </div>
  </div>
</body>

</html>