<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="shortcut icon" href="../static/logoPK.png" type="image/x-icon" />
  <title>Portifolio</title>
</head>

<body>
  <header>
    <nav>
      <a id="logoPK" href="../index.html">
        <img src="../static/logoPK.png" alt="">
      </a>
      <ul>
        <li>
          <a href="../templates/cursos.html">
            CURSOS
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/ti.udia/" target="_blank">
            BLOG
          </a>
        </li>
        <li>
          <a href="sobre.html">
            SOBRE
          </a>
        </li>
        <li>
          <a href="hall da fama.html">
            HALL DA FAMA
          </a>
        </li>
        <li>
          <a href="validar certificado.html">
            VALIDAR CERTIFICADO
          </a>
        </li>
        <li>
          <a href="../templates/formulario de inscrição.html">
            AFILIADOS
          </a>
        </li>
      </ul>
    </nav>
  </header>
<div class="interface">
  <section id="ranking" class="ranking">
    <h2>Compare seu progresso com outros participantes</h2>
    <p>Conquiste mais pontos de experiência postando comentários relevantes, avaliando e concluindo todas as
        aulas.
        Se esforce para ir até a linha de chegada e concluir seu curso com máximo de aproveitamento.</p>
    <article>
        <input type="text" list="lista-pontuacoes-cursos" placeholder="Selecione uma opção">
        <datalist id="lista-pontuacoes-cursos">
            <option value="Todas as pontuações acumuladas">Todas as pontuações acumuladas</option>
            <option value="INTERNET DAS COISAS">INTERNET DAS COISAS</option>
            <option value="MARCAÇÕES HTML E CSS">MARCAÇÕES HTML E CSS</option>
            <option value="PROGRAMANDO EM PYTHON">PROGRAMANDO EM PYTHON</option>
            <option value="PROGRAMANDO EM JAVA SCRIPT">PROGRAMANDO EM JAVA SCRIPT</option>
        </datalist>
        <li>ALUNOS</li>
        <li>ALUNOS</li>
        <li>ALUNOS</li>
        <li>ALUNOS</li>
        <li>ALUNOS</li>
    </article>
</section>
</div>
</body>