<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="shortcut icon" href="../static/logoPK.png" type="image/x-icon" />
  <title>INFOPRODUTOS</title>
</head>

<body>
  <header>
    <div class="flex">
      <a id="logo" href="../templates/menu.html">
        <img id="menu" src="../static/menu.png">
      </a>
      <a style="margin: auto;" href="../index.html">
        <img src="../static/logoPK.png" class="minhaDivNavApareceESomeLogoPK">
      </a>
    </div>
  </header>
  <section id="sectionHallDaFama">
    <h2>
      Compare seu progresso com outros participantes
    </h2>
    <p>
      Conquiste mais pontos de experiência postando comentários relevantes, avaliando e concluindo todas as
      aulas.
    </p>
    <p>
      Se esforce para ir até a linha de chegada e concluir seu curso com máximo de aproveitamento.
    </p>
    <ul id="ulHallDaFama">
      <li>
        <!-- <a href="Todas as pontuações acumuladas.html"> -->
        <a href="erro.html">
          <p>
            TODAS AS OPONTUAÇÕES ACUMULADAS
          </p>
        </a>
      </li>
      <li>
        <!-- <a href="os melhores em - INTERNET DAS COISAS.html"> -->
        <a href="erro.html">
          <p>
            INTERNET DAS COISAS
          </p>
        </a>
      </li>
      <li>
        <!-- <a href="os melhores em - MARCAÇÕES HTML E CSS.html"> -->
        <a href="erro.html">
          <p>
            MARCAÇÕES HTML E CSS
          </p>
        </a>
      </li>
      <li>
        <!-- <a href="os melhores em - PROGRAMANDO EM PYTHON.html">  -->
        <a href="erro.html">
          <p>
            PROGRAMANDO EM PYTHON
          </p>
        </a>
      </li>
      <li>
        <!-- <a href="os melhores em - PROGRAMANDO EM JAVA SCRIPT.html"> -->
        <a href="erro.html">
          <p>
            PROGRAMANDO EM JAVA SCRIPT
          </p>
        </a>
      </li>
    </ul>
  </section>
</body>