<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="shortcut icon" href="../static/logoPK.png" type="image/x-icon" />
  <title>INFOPRODUTOS</title>
</head>

<body>
  <header style="margin-bottom: 200px;">
    <nav>
      <div class="flex">
        <div style="padding: 10px;">
          <a href="menu.html">
            <picture>
              <img id="menu" src="../static/menu.png" alt="">
            </picture>
          </a>
        </div>
      </div>
      <ul class="minhaDivNavApareceESome">
        <li>
          <a href="../templates/cursos.html">
            CURSOS
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/ti.udia/" target="_blank">
            BLOG
          </a>
        </li>
        <li>
          <a href="sobre.html">
            SOBRE
          </a>
        </li>
        <li>
          <a href="hall da fama.html">
            HALL DA FAMA
          </a>
        </li>
        <li>
          <a href="validar certificado.html">
            VALIDAR CERTIFICADO
          </a>
        </li>
        <li>
          <a href="../templates/formulario de inscrição.html">
            AFILIADOS
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <h2>
    Compare seu progresso com outros participantes
  </h2>
  <p>
    Conquiste mais pontos de experiência postando comentários relevantes, avaliando e concluindo todas as
    aulas.
  </p>
  <p>
    Se esforce para ir até a linha de chegada e concluir seu curso com máximo de aproveitamento.
  </p>
  <article>
    <a href="Todas as pontuações acumuladas.html">
      TODAS AS OPONTUAÇÕES ACUMULADAS
    </a>
    <a href="os melhores em - INTERNET DAS COISAS.html">
      INTERNET DAS COISAS
    </a>
    <a href="os melhores em - MARCAÇÕES HTML E CSS.html">
      MARCAÇÕES HTML E CSS
    </a>
    <a href="os melhores em - PROGRAMANDO EM PYTHON.html">
      PROGRAMANDO EM PYTHON
    </a>
    <a href="os melhores em - PROGRAMANDO EM JAVA SCRIPT.html">
      PROGRAMANDO EM JAVA SCRIPT
    </a>
  </article>
  </div>
</body>