<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="shortcut icon" href="../static/logoPK.png" type="image/x-icon" />
  <title>
    INFOPRODUTOS
  </title>
</head>
<style>
  h1,
  h2,
  p,
  li {
    color: #230D73;
  }
</style>

<body>
  <header>
    <div class="flex">
      <a id="logo" href="../templates/menu.html">
        <img id="menu" src="../static/menu.png">
      </a>
      <a style="margin: auto;" href="../index.html">
        <img src="../static/logoPK.png" class="minhaDivNavApareceESomeLogoPK">
      </a>
    </div>
  </header>
  <div class="interface">
    <h2>
      Habilidades Essenciais para Programar em IoT
    </h2>
    <img src="../static/fundo.png" id="fundo-png" alt="">
       <section class="finalizar">
      <li>
        A Internet das Coisas (IoT) conecta dispositivos físicos à internet, permitindo a coleta e troca de dados em
        tempo real. Programar para a IoT exige um conjunto de habilidades específicas:
      </li>
      <video src="../static/IOT - INTERNET DAS COISAS.mp4" loop muted autoplay>
      </video>
      <h1>
        <a href="https://maper.info/2vNhu6asdas" target="_blank">
          Cadastra-se
        </a>
      </h1>
      <h3>
        1. Hardware e Eletrônica
      </h3>
      <li>
        Componentes básicos: Microcontroladores, sensores, atuadores, LEDs etc.
      </li>
      <li>
        Protocolos de comunicação: Wi-Fi, Bluetooth, Zigbee, LoRaWAN etc.
      </li>
      <li>
        Protoboard e plataformas de desenvolvimento: Arduino, ESP8266, Raspberry Pi etc.
      </li>
      <li>
        Eletrônica básica: Conceitos de voltagem, corrente, resistência e circuitos.
      </li>
      <h3>
        2. Programação
      </h3>
      <li>
        Linguagens de programação: C/C++, Python, JavaScript etc.
      </li>
      <li>
        Ferramentas de desenvolvimento: IDEs (Arduino IDE, Visual Studio Code etc.), SDKs, frameworks.
      </li>
      <li>
        Programação embarcada: Desenvolvimento de software para microcontroladores.
      </li>
      <li>
        Conceitos de IoT: Arquitetura de sistemas IoT, segurança, nuvem, protocolos de comunicação.</li>
      <h3>
        3. Redes e Conectividade
      </h3>
      <li>
        Redes TCP/IP: Funcionamento de redes, endereços IP, protocolos de transporte.
      </li>
      <li>
        Wi-Fi, Bluetooth, Zigbee, LoRaWAN: Características, vantagens e desvantagens de cada protocolo.
      </li>
      <li>
        Segurança de rede: Criptografia, autenticação e autorização para dispositivos IoT.
      </li>
      <h3>
        4. Nuvem e Bancos de Dados
      </h3>
      <li>
        Plataformas de nuvem: AWS, Azure, Google Cloud etc.
      </li>
      <li>
        Armazenamento de dados: NoSQL, SQL, bancos de dados em tempo real.
      </li>
      <li>
        Análise de dados: Ferramentas e técnicas para análise de dados coletados por dispositivos IoT.
      </li>
      <h3>
        5. Soft Skills
      </h3>
      <li>
        Resolução de problemas: Habilidade para identificar e solucionar problemas de hardware e software.
      </li>
      <li>
        Criatividade e inovação: Capacidade de pensar fora da caixa e desenvolver soluções inovadoras para problemas
        reais.
      </li>
      <li>
        Aprendizagem contínua: A área de IoT está em constante evolução, por isso é importante se manter atualizado
        com as novas tecnologias e tendências.
      </li>
      <li>
        Com as habilidades e recursos certos, você estará pronto para começar a programar para a IoT e criar
        soluções inovadoras para o mundo.
      </li>
    </section>
  </div>
  <div
    style="position: relative; width: 100%; height: 0; padding-top: 58.8235%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0); margin-top: 1.6em; overflow: hidden; will-change: transform;">
    <iframe loading="lazy"
      style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
      src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF6WfQIMh4&#x2F;view?embed"
      allowfullscreen="allowfullscreen" allow="fullscreen">
    </iframe>
  </div>
</body>