<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="shortcut icon" href="../static/logoPK.png" type="image/x-icon" />
  <title>INFOPRODUTOS</title>
</head>
<style>
  h1,
  h2,
  p,
  li {
    color: #230D73;
  }
</style>

<body>
  <header>
    <div class="flex">
      <a id="logo" href="../templates/menu.html">
        <img id="menu" src="../static/menu.png">
      </a>
      <a style="margin: auto;" href="../index.html">
        <img src="../static/logoPK.png" class="minhaDivNavApareceESomeLogoPK">
      </a>
    </div>
  </header>
  <div class="interface">
    <h1>
      Habilidades básicas para desenvolver sites HTML e CSS
    </h1>
    <img src="../static/fundo.png" id="fundo-png" alt="">
    <section class="finalizar">
      <p>
        Para desenvolver sites em mobile e PC, você precisa dominar algumas habilidades básicas, como:
      </p>
      <video src="../static/MARCAÇÕES HTML E CSS.mp4" loop muted autoplay>
      </video>
      <h1>
        <a href="https://maper.info/2vNhu6asdas" target="_blank">
          Cadastrar-se
        </a>
      </h1>
      <li>
        <strong>
          HTML:
        </strong>
        É a estrutura básica do site, responsável por organizar o conteúdo em
        diferentes elementos, como títulos, parágrafos, imagens e vídeos.
      </li>
      <li>
        <strong>
          CSS:
        </strong>
        Define a aparência do site, controlando cores, fontes, tamanhos, layout e
        posicionamento dos elementos.
      </li>
      <h2>
        Outras habilidades importantes para desenvolver sites
      </h2>
      <h3>
        Responsive design
      </h3>
      <p>
        Abordagem que garante que o site seja bem visualizado em diferentes dispositivos, como smartphones, tablets e
        desktops.
      </p>
      <h3>
        Princípios de UX/UI
      </h3>
      <li>
        **UX (User Experience):** Experiência do usuário ao navegar no site, focando na usabilidade, facilidade de
        navegação e interação.
      </li>
      <li>
        **UI (User Interface):** Interface visual do site, abrangendo design, layout, cores e tipografia.
      </li>
      <h3>
        Outras habilidades importantes
      </h3>
      <li>
        **Acessibilidade:** Garantir que o site seja acessível a todos os usuários, incluindo pessoas com deficiência.
      </li>
      <li>
        **SEO (Search Engine Optimization):** Otimizar o site para que seja facilmente encontrado nos mecanismos de
        busca.
      </li>
      <li>
        **Segurança:** Proteger o site contra ataques e malwares.
      </li>
    </section>
  </div>
  <div
    style="position: relative; width: 100%; height: 0; padding-top: 58.8235%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0); margin-top: 1.6em; overflow: hidden; will-change: transform;">
    <iframe loading="lazy"
      style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
      src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF6WfQIMh4&#x2F;view?embed"
      allowfullscreen="allowfullscreen" allow="fullscreen">
    </iframe>
  </div>
</body>