<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>menu</title>
</head>
<body style="background-color: #230D73;">
  <a id="logoPK" href="../index.html">
    <img src="../static/logoPK.png" alt="">
  </a>
    <ul class="ulMenu">
        <li>
          <a href="../templates/cursos.html">
            CURSOS
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/ti.udia/" target="_blank">
            BLOG
          </a>
        </li>
        <li>
          <a href="sobre.html">
            SOBRE
          </a>
        </li>
        <li>
          <a href="hall da fama.html">
            HALL DA FAMA
          </a>
        </li>
        <li>
          <a href="validar certificado.html">
            VALIDAR CERTIFICADO
          </a>
        </li>
        <li>
          <a href="../templates/formulario de inscrição.html">
            AFILIADOS
          </a>
        </li>
      </ul>
</body>
</html>