<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="shortcut icon" href="../static/logoPK.png" type="image/x-icon" />
  <title>INFOPRODUTOS</title>
</head>
<style>
  h1,
  h2,
  p,
  li {
    color: #230D73;
  }
</style>

<body>
  <header>
    <div class="flex">
      <a id="logo" href="../templates/menu.html">
        <img id="menu" src="../static/menu.png">
      </a>
      <a style="margin: auto;" href="../index.html">
        <img src="../static/logoPK.png" class="minhaDivNavApareceESomeLogoPK">
      </a>
    </div>
  </header>
  <div class="interface">
    <section id="sobre">
      <h1 style="font-size: 1rem; text-align: center;">
        A INFOPRODUTOS.ORG é a parceira ideal para empresas e profissionais que buscam:
        </h1>
        <img src="../static/fundo.png" id="fundo-png" alt="">
        <li>
          Soluções criativas e inovadoras para seus projetos de comunicação.
        </li>
        <li>
          Uma equipe experiente e dedicada a entregar resultados excepcionais.
        </li>
        <li>
          Uma parceria de confiança para impulsionar o crescimento e o sucesso do seu negócio.
        </li>
      <h1 style="color: #230D73;">
        Nossa Missão
      </h1>
      <div>
        <li>
          Elevar marcas e ideias a novos patamares
        </li>
        <li>
          Criar conexões autênticas
        </li>
        <li>
          Gerar resultados tangíveis
        </li>
      </div>
      <h1 style="color: #230D73;">
        Nossa Visão
      </h1>
      <p>
        Ser a empresa de produção referência em criatividade, inovação e excelência, reconhecida por sua capacidade de
        gerar resultados excepcionais para seus clientes.
      </p>
      <h1 style="color: #230D73;">
        Nossos Valores
      </h1>
      <ul>
        <li>
          Criatividade
        </li>
        <li>
          Paixão
        </li>
        <li>
          Excelência
        </li>
        <li>
          Comprometimento
        </li>
        <li>
          Transparência
        </li>
        <li>
          Respeito
        </li>
      </ul>
      <h1 style="color: #230D73;">
        O que nos diferencia
      </h1>
      <ul>
        <li>
          Experiência e Expertise
        </li>
        <li>
          Criatividade Inovadora
        </li>
        <li>
          Visão Estratégica
        </li>
        <li>
          Foco em Resultados
        </li>
        <li>
          Atendimento Personalizado
        </li>
      </ul>
      <h2 style="text-align: center; color: #230D73;">
        <strong>
          ATENÇÃO !
        </strong>
      </h2>
      <p style="text-align: center;">
        RESUMINDO (CRIAMOS PLATAFORMAS PARA INVESTIDORES, ÊNFASE PARA SOLUCIONAR PROBLEMAS COMO GESTÃO > PARA CRM, CRIAR
        DESING PARA LOGOS, CRIAR LANDING PAGE, TRAFEGO PAGO e etc...)
      </p>
      <p>
        Clique
        <a href="https://iplis.ru/meu-portifolio" target="_blank">
          aqui
        </a>
        para ter mais informações do nosso
        <strong>
          Portifolio
        </strong>
      </p>
    </section>
  </div>
</body>