<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="shortcut icon" href="../static/logoPK.png" type="image/x-icon" />
  <title>INFOPRODUTOS</title>
</head>

<body>
  <header>
    <nav>
      <a href="menu.html">
        <picture>
          <img id="menu" src="../static/menu.png" alt="">
        </picture>
      </a>
      <a id="logoPK" href="../index.html">
        <img src="../static/logoPK.png" alt="">
      </a>
      <ul class="minhaDivNavApareceESome">
        <li>
          <a href="../templates/cursos.html">
            CURSOS
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/ti.udia/" target="_blank">
            BLOG
          </a>
        </li>
        <li>
          <a href="sobre.html">
            SOBRE
          </a>
        </li>
        <li>
          <a href="hall da fama.html">
            HALL DA FAMA
          </a>
        </li>
        <li>
          <a href="validar certificado.html">
            VALIDAR CERTIFICADO
          </a>
        </li>
        <li>
          <a href="../templates/formulario de inscrição.html">
            AFILIADOS
          </a>
        </li>
      </ul>
    </nav>
  </header>
    <div class="interface" >
      <style>
        ul li p{
          color: black;
        }
      </style>
    <h1 style="margin-top: 30vh;">
      A INFOPRODUTOS.ORG é a parceira ideal para empresas e profissionais que buscam:
    </h1>
       <section id="sobre">
    
      <li>
        Soluções criativas e inovadoras para seus projetos de comunicação.
      </li>
      <li>
        Uma equipe experiente e dedicada a entregar resultados excepcionais.
      </li>
      <li>
        Uma parceria de confiança para impulsionar o crescimento e o sucesso do seu negócio.
      </li>
        <h2>
        Nossa Missão
      </h2>
      <div>
        <li>
          Elevar marcas e ideias a novos patamares
        </li>
        <li>
          Criar conexões autênticas
        </li>
        <li>
          Gerar resultados tangíveis
        </li>
      </div>
      <h2>
        Nossa Visão
      </h2>
      <p>
        Ser a empresa de produção referência em criatividade, inovação e excelência, reconhecida por sua capacidade de
        gerar resultados excepcionais para seus clientes.
      </p>
      <h2>
        Nossos Valores
      </h2>
    <ul>
      <li>
        Criatividade
      </li>
      <li>
        Paixão
      </li>
      <li>
        Excelência
      </li>
      <li>
        Comprometimento
      </li>
      <li>
        Transparência
      </li>
      <li>
        Respeito
      </li>
    </ul>
      <h2>
        O que nos diferencia
      </h2>
      <ul>
      <li>
        Experiência e Expertise
      </li>
      <li>
        Criatividade Inovadora
      </li>
      <li>
        Visão Estratégica
      </li>
      <li>
        Foco em Resultados
      </li>
      <li>
        Atendimento Personalizado
      </li>
      </ul>
      <h2 style="text-align: center;">
        <strong>
          ATENÇÃO !
        </strong>
      </h2>
      <p style="text-align: center;">
        RESUMINDO (CRIAMOS PLATAFORMAS PARA INVESTIDORES, ÊNFASE PARA SOLUCIONAR PROBLEMAS COMO GESTÃO > PARA CRM, CRIAR
        DESING PARA LOGOS, CRIAR LANDING PAGE, TRAFEGO PAGO e etc...)
      </p>
      <p>
        Clique
        <a href="https://iplis.ru/meu-portifolio" target="_blank">
          aqui
        </a>
        para ter mais informações do nosso
        <strong>
          Portifolio
        </strong>
      </p>
    </section>
  </div>
</body>