<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="shortcut icon" href="../static/logoPK.png" type="image/x-icon" />
  <title>INFOPRODUTOS</title>
</head>

<body>
  <header>
    <div class="flex">
      <a id="logo" href="../templates/menu.html">
        <img id="menu" src="../static/menu.png">
      </a>
      <a style="margin: auto;" href="../index.html">
        <img src="../static/logoPK.png" class="minhaDivNavApareceESomeLogoPK">
      </a>
    </div>
  </header>
  <div class="interface">
    <section id="ranking" class="ranking">
      <h2>
        Compare seu progresso com outros participantes
      </h2>
      <p>
        Conquiste mais pontos de experiência postando comentários relevantes, avaliando e concluindo todas as
        aulas.
      </p>
      <p>
        Se esforce para ir até a linha de chegada e concluir seu curso com máximo de aproveitamento.
      </p>
      <article>
        <a style="color: white;" href="Todas as pontuações acumuladas.html">
         TODAS AS OPONTUAÇÕES ACUMULADAS
        </a>
        <a style="color: white;" href="os melhores em - INTERNET DAS COISAS.html">
          INTERNET DAS COISAS
        </a>
        <a style="color: white;" href="os melhores em - MARCAÇÕES HTML E CSS.html">
       MARCAÇÕES HTML E CSS
        </a>
        <a style="color: white;" href="os melhores em - PROGRAMANDO EM PYTHON.html">
          PROGRAMANDO EM PYTHON
        </a>
        <a style="color: white;" href="os melhores em - PROGRAMANDO EM JAVA SCRIPT.html">
      PROGRAMANDO EM JAVA SCRIPT
        </a>
      </article>
    </section>
  </div>
</body>