<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="shortcut icon" href="../static/logoPK.png" type="image/x-icon" />
  <title>INFOPRODUTOS</title>
</head>
<style>
  h1, h2, p, li{
    color: #230D73;
  }
    </style>
<body>
  <header>
    <div class="flex">
      <a id="logo" href="../templates/menu.html">
        <img id="menu" src="../static/menu.png">
      </a>
      <a style="margin: auto;" href="../index.html">
        <img src="../static/logoPK.png" class="minhaDivNavApareceESomeLogoPK">
      </a>
    </div>
  </header>
  <div class="interface">
    <div class="validarCertificado">
    <section id="validarCertificado">
      <h1>
        Validação de Certificados: Protegendo Sua Navegação Online
      </h1>
      <p style="font-size: larger;">
        A internet se tornou uma ferramenta indispensável em nosso dia a dia, proporcionando acesso a informações,
        serviços e conexões. No entanto, navegar online também traz consigo riscos, como a interceptação de dados,
        ataques de phishing e conteúdo malicioso. É aí que entra a validação de certificados, atuando como um escudo
        protetor para garantir a segurança de suas informações e navegação online.
      </p>
      <p>Insira o caminho para o seu certificado digital:</p>
      <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="certificado">
        <input type="submit" value="Validar">
      </form>
      <h1>
        O que é Validação de Certificados?
      </h1>
      <p>
        A validação de certificados é um processo que verifica a autenticidade e confiabilidade de um site. Ela funciona
        como uma identidade digital para o site, garantindo que você está realmente acessando o site legítimo e não uma
        imitação criada para roubar seus dados.
      </p>
   
       <div class="box">
        <h1>
          Benefícios da Validação de Certificados:
        </h1>
        <p>
          Proteção contra Interceptação de Dados: Impede que hackers espiem ou modifiquem seus dados durante a
          transmissão entre seu dispositivo e o site, garantindo a confidencialidade de informações sigilosas como
          senhas, dados bancários e detalhes pessoais.
        </p>
        <p>
          Segurança contra Ataques de Phishing: Combate a criação de sites falsos que imitam a aparência de sites
          legítimos para roubar suas informações. A validação de certificados garante que você esteja realmente
          acessando o site original da empresa ou organização pretendida.
        </p>
        <p>
          Barreira contra Conteúdo Malicioso: Protege contra downloads de arquivos infectados com malware ou outros
          softwares prejudiciais, evitando que seu dispositivo seja comprometido por terceiros mal-intencionados.
        </p>
        <p>
          Comunicação Segura: Confirma a identidade do site e garante que ele é confiável, permitindo que você se
          comunique com o site com a certeza de que seus dados estão protegidos.
        </p>
        <p>
          Confiança do Usuário: A presença de um certificado válido aumenta a confiança dos usuários no site, o que pode
          levar a um aumento nas conversões e na fidelidade à marca. Demonstra profissionalismo e compromisso com a
          segurança por parte da empresa ou organização que administra o site.
        </p>
       </div>
    </div>
  </section>
  </div>
</body>